import styles from './{{kebabCase name}}.module.scss';

export type {{properCase name}}Props = {};

export function {{properCase name}} ({}: {{properCase name}}Props) {
  return (
    <div className={styles.wrapper}>
      {{properCase name}}
    </div>
  ); 
};
